<!doctype html>
<html>
<head>
  <title>Network Explorer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
  <script src="/js/firebase.js"></script>
</head>
<body>

<h1>Network explorer</h1>

{{with .Notice}}<div id="notice">{{.}}</div>{{end}}

<p><a href="/" onclick="logout();">Sign out</a>
<p><form id="post-form" enctype="multipart/form-data" action="/" method="post">
  <p><div>Handle to Fetch: <input name="handle" value="{{.Handle}}"></div>
  <p><input type="submit">
</form>
{{with .Handles}}
  <p><ol>
    {{range .}}
      <li><a href="{{.StatusURL}}">{{.Name}}</a> - {{if .DownloadURL}}<a href="{{.DownloadURL}}">Download</a>{{end}}</li>
    {{end}}
  </ol>
{{ end }}
</body>
</html>
