<!doctype html>
<html>
<head>
  <title>Network Explorer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>Network explorer</h1>

{{with .Notice}}<div id="notice">{{.}}</div>{{end}}

<h3><a href="/">Back</a></h3>

<h2>{{.Handle}}{{if .TwitterID}} - {{.TwitterID}}{{end}}</h2>

<ul>
  <li>Friends - {{.FriendsCount}}</li>
  <li>Followers - {{.FollowersCount}}</li>
  <li>Enqueued - {{.EnqueuedCount}}</li>
  <li>Remaining - {{.RemainingCount}}</li>
  {{ if .DownloadURL }}<li><a href="{{.DownloadURL}}">Download</a></li>{{end}}
  {{ if .TickURL }}<li><a href="{{.TickURL}}">Tick</a></li>{{end}}
  <li><a href="{{.DeleteURL}}">Delete</a></li>
</ul>
</body>
</html>